@media (max-width: 767px) {
    .text-center-mobile {
        text-align: center;
    }

    .block-mobile {
        display: block;
    }
    .text-center-mobile {
        text-align: center;
    }
    .mb-m-5 {
        margin-bottom: 5px;
    }
}