.bg-white {
    background-color: #fff;
}

.c-black {
    color: black;
}


.c-blue {
    color: var(--blue-color)
}

.bg-eee {
    background-color: var(--bg-eee);
}

.bg-red {
    background-color: var(--red-color);
}

.grey-color {
    color: var(--grey-color);
}

.bg-blue {
    background-color: var(--blue-color);
}

.white-color {
    color: #fff;
}

.c-orange {
    color: orange;
}

.bg-orange {
    background-color: orange;
}

.c-green {
    color: green;
}

.bg-green {
    background-color: green;
}

.c-cyan {
    color:cyan
}

.c-red {
    color: rgba(255, 0, 0, 0.504);
}



