.bg-white {
    background-color: #fff;
}

.c-black {
    color: black;
}

.bg-eee {
    background-color: var(--bg-eee);
}

.grey-color {
    color: var(--grey-color);
}

.bg-blue {
    background-color: var(--blue-color);
}

.white-color {
    color: #fff;
}

