.between-flex {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.content {
    
}


.head .search::before {
    content: var(--lins);
    font-family: var(--fa-style-family-classic);
    font-weight: 900;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    color: var(--grey-color);
    font-size: 12px;
    margin-left: -8px;


}

.head .search input {
    width: 195px;
}


.head .search input:focus {
    width: 240px;
    outline: solid var(--border-outline-color);
}

.head .search input:focus::placeholder {
    opacity: 0;
}

.head .icons .notification > i::before {
    width: 32px;
    height: 32px;
}

.head .icons .notification::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: red;
    border-radius: 50%;
    right: 9px;
}

[alt = 'avatar'] {
    width: 27px;
    margin-left: 20px;
    height: 27px;
}

.page h1 {
    margin:20px 20px 40px;
}

.page h1::before, 
.page h1::after {
    content: "";
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -10px;
    border-radius: 2px;
}

.page h1::before {
    background-color: #fff;
    width: 120px;
}

.page h1::after {
    background-color: var(--blue-color);
    width: 40px;
}

/* Wrapper */
.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}