* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    position: relative;
}

a {
    text-decoration: none;
}

.page {
    min-height: 100vh;
    background-color: #f1f5f9;
}

.t-center {
    text-align: center;
}

.list-none {
    list-style: none;
}

.w-full {
    width: 100%;
}

.d-grid {
    display: grid;
} 

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.b-none {
    border: none;
}


.text-left {
    text-align: left;
}

.overflow-hidden {
    overflow: hidden;
}
